{% extends 'base_homepage.html.twig' %}



{% block body %}
    <div class="page-title-banner col-l-12 col-m-12 col-s-12">
        <img class="banner-background" src="{{ asset('/css/img/ventes/vente_header_rv_sw.jpg') }}" alt="">

    </div>
    <div class="green-banner ">
        <h3>Le Répertoire Vert générera une série d'effets positifs <br> sur l'activité économique du territoire sur lequel il se déploie</h3>
    </div>

<div>
  
  
    <div class="round" >

            <h4 style="color:black;margin-left: 40px">
                Les avantages pour la région d'implantation du Répertoire Vert ne sont pas négligeables,<br>
                que ce soit les consommateurs, les producteurs ou les administrations.<br>
                Grâce au Répertoire Vert et à notre soutien, votre région peut faire la différence pour le<br>
                bien de votre population et de la planète.
            </h4>

    </div>
    <div>
    <a href="/Impacts" class="button">Voir les impacts</a>
    </div>



</div>
    <div class="round1">
       <img style="display: block;margin-left: auto;margin-right: auto; " src="{{ asset('/css/img/ventes/vente_1.png') }}" >
    </div>

    <div class="greencouncil-description-gray col-l-12">
        <p style="color:black;">
En effet, le Répertoire Vert est un outil qui peut être vendu par gaea21 (Suisse) à une région, à une ville ou à une communauté urbaine
            et qui dispose de son propre nom de domaine, accessible directement via les moteurs de recherche.
            Cette prestation inclut la mise à disposition du savoir-faire et des ressources de gaea21 pour développer, mettre en place
            puis cogérer le Répertoire Vert avec le gaea21 local.
        </p>
    </div>

    <div>
        <div style="text-align: center; color: #1d6e46;text-decoration: underline;">
            <h3>Pour agir, il est nécessaire de suivre les étapes clés suivantes</h3><br>
        </div>
        <div style="text-align: center;  margin-left: 50px;">
        <table id="customers">
            <tr>
                <th>PHASE 1</th>
                <th>PHASE 2</th>
                <th>PHASE 3</th>
                <th>PHASE 4</th>
                <th>PHASE 5</th>
            </tr>
            <tr>
                <td>Création gaea21
                (Région)</td>
                <td>Recrutement<br>formation</td>
                <td>Développement et<br>création du site web<br>et de l'application<br>smartphone</td>
                <td>Lancement du<br>Répertoire Vert<br>niveau 0</td>
                <td>Lancement public<br>du Répertoire Vert</td>


            </tr>
        </table>
        </div>
    </div>
    <div class="round2" >

        <h4 style="color:black;margin-left: 40px">


            1/ Signature du contrat de vente entre la région et gaea21 + possibilité de recherche conjointe de financements<br>
            européens dans le cadre de programmes ( INTTEREG, HORIZON 2020, etc.)<br>
            2/ Constituer l'association gaea21 régionale.<br>
            7 membres maximum dont 5 profils préétablis et devant obligatoirement faire partie du comité de gaea21<br>
            de la région/ville acheteuse<br>
            &nbsp; &nbsp; - un représentant de gaea21 (Suisse);<br>
            &nbsp; &nbsp; - le coordinateur général du gaea21 de la ville/région acheteuse du programme Répertoire Vert.<br>
            &nbsp; &nbsp; - un représentant de la région<br>
            &nbsp; &nbsp; - un représentant des entreprises de la région;<br>
            &nbsp; &nbsp; - un représentant de la société civile.<br>
            3/ Lancement du niveau 0 (phase test).<br>
            &nbsp; &nbsp; a. formation<br>
            &nbsp; &nbsp; b. contact entreprises,<br>
            &nbsp; &nbsp; c. début de l'enregistrement des entreprises.<br>
            4/ Lancement officiel du Répertoire Vert.<br>
            5/ Gestion du Répertoire Vert:<br>
            &nbsp; &nbsp; a. niveau O et 1 gestion par gaea21 (Suisse) et gaea21 région,<br>
            &nbsp; &nbsp; b. niveau 2 et label gaea21 cogestion par gaea21 (Suisse) et gaea21 région.<br>


        </h4>

    </div>
    <div class="greencouncil-description-gray col-l-12">
        <p style="color:black;text-align: center">
            Limplantation du Répertoire Vert est prévue sur une durée de 8 mois, <br>
            dont les phases abordées ci-dessus sont réparties comme suit:
        </p>
    </div>
    <div class="round1">
        <img style="width: 95%;display: block;margin-left: auto;margin-right: auto; " src="{{ asset('/css/img/ventes/time_line_repertoire_vert_pt.png') }}" >
    </div>
    <div class="greencouncil-description-gray col-l-12">
        <p style="color:black;text-align: center">
            Différent packs d'accompagnement pour sa mise en place sont disponibles selon vos besoin,<br>
            comme présenté dans le tableau ci-dessous, afin que gaea21 puisse vous accompagner au mieux<br>
            dans l'implémentation du Répertoire Vert dans votre région
        </p>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Basic Pack</TH>
                <TD style="width: 350px">License d'éxploitation</TD>
                <TD >Cout annuel</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Business case</TD>
                <TD >Stratégie de développement pour la mise<br> en place du Répertoire Vert</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Développement logiciel<br> et site internet</TD>
                <TD >Elaboration et mise en fonction de l'application<br> et du site internet propres à la région</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Budget publicité de base</TD>
                <TD >Création du matériel de communication<br>
                Management des visuels<br>
                Fourniture des supports</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Sélection et formation<br> des auditeur verts</TD>
                <TD >Processus de sélection et formation<br> ainsi qu'encadrement; salaires; frais</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Audit process et monitoring</TD>
                <TD >Création de modèle et édition de questionnaire<br> 9 dimensions; évaluation, test et implémentation<br> des questionnaires</TD>
            </TR>
            <TR>
                <TD style="width: 350px">Frais</TD>
                <TD >Frais de déplacement, rencontres, etc</TD>
            </TR>
            

        </table>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Communication <br> Pack</TH>
                <TD style="width: 350px">Budget publicité - <br>
                communication</TD>
                <TD >Création du matériel de communication <br> Management des visuels <br> Fourniture des supports</TD>
            </TR>

        </table>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Fundraising <br> option A Pack</TH>
                <TD style="width: 350px" >Recherches de fond hors cadre de demandes européennes</TD>
                <TD >CHF 758.-+5% du montant obtenue</TD>
            </TR>

        </table>
    </div>
    <div style="text-align: left;  margin-left: 50px;margin-top: 20px">
        <table id="customers">
            <TR>
            <TR>
                <TH rowspan=8   style="text-align: center;width: 300px">Fundraising <br> option B Pack</TH>
                <TD style="width: 350px">Recherches de fond dans le cadre de demandes européennes</TD>
                <TD >CHF 6'315.-+20% du montant obtenue</TD>
            </TR>

        </table>
    </div>
    <div class="round4" >

        <h4 style=" color:black;margin-left: 40px">
            A noter que la marque Répertoire Vert appartient à gaea21, la gestion de la partie visuelle est donc faite <br>
            par l'agence de communication de gaea21, soit Eco-minds (détenteur des droits d'image du Répertoire Vert)
        </h4>

    </div>
    <div>
        <table><tr>
                <td style=" width: 10%">
                    <div  >
                        <img style="display: block;margin-left: auto;margin-right: auto; " src="{{ asset('/css/img/ventes/signature.svg') }}" >
                    </div>
                </td>
                <td style=" width: 80%">
                    <div class="round5" >
                        <h4 style=" color:black;">
                            A noter que la marque Répertoire Vert appartient à gaea21, la gestion de la partie visuelle est donc faite <br>
                            par l'agence de communication de gaea21, soit Eco-minds (détenteur des droits d'image du Répertoire Vert)
                        </h4>

                    </div>
                </td>
            </tr>




        </table>
    </div>

{% endblock %}
