<div class="frm frm-product col-l-offset-2 col-l-8 col-l-pull-2">

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>