{% extends 'base_homepage.html.twig' %}



{% block body %}
    <div class="green-banner">
        <h3>Modification d'un service</h3>
    </div>
    {% include './services/form.html.twig' with {'form' : form} %}
{% endblock %}
