{% block _app_service_image_widget %}
        <label for="app_service_image">
                <img src="/css/img/service/add.png" alt="ajout icône">
                Ajouter une photo au service *
                <input type="file" id="app_service_image" name="app_service[image]" class="fileUpload" style="display: none">
        </label>

{% endblock %}