<form method="post" action="{{ path('coup_de_projecteur_delete', {'id': coup_de_projecteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coup_de_projecteur.id) }}">
    <button class="btn">Delete</button>
</form>
