{% extends 'base_homepage.html.twig' %}

{% block title %}Edit CoupDeProjecteur{% endblock %}

{% block body %}
    <h1>Edit CoupDeProjecteur</h1>

    {{ include('coup_de_projecteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coup_de_projecteur_index') }}">back to list</a>

    {{ include('coup_de_projecteur/_delete_form.html.twig') }}
{% endblock %}
