
{% extends 'base_homepage.html.twig' %}





{% block body %}
    <a href="{{ path('displayFriendsList') }}">Voir la liste de mes amis</a>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    {% for friend in users %}
    <ul>

        {% if List ==  friend.id or friend.id ==userss  %}
            {{ friend.username }}<button disabled><a href="#">Vous etes des amis</a></button>
        {% else %}
            {{ friend.username }}<button ><a href="{{ path('send_friend_request',{'id':friend.id}) }}">Envoyer une invitation</a></button>
        {% endif %}



    </ul>

{% endfor %}

{% endblock %}