@use "sass:math";
$widthbase:1920px;
$heightbase:7200px;

@function Pourcentage($number) {
  @if type-of($number) =='number' and not unitless($number) {
    @return  math.div($number, $number * 0 + 1)
  }
  @return $number;
}

@function widthpr($size,$widthbase){
  @return 100% * $size /Pourcentage($widthbase);
}

@function heightpr($size,$heightbase){
  @return 100% * $size /Pourcentage($heightbase);
}





#HeadB{
  //background-color: red;
  width: 10.160vw;
  height: 2.1vw;
}

#HeadT{
  font-size: 1.042vw;
  font-weight: bold;
  text-align: center;
  max-width: 300px;
  height: 35px;
  //background-color: rosybrown;
}

.lin{
  display: inline;
}

#imgE{
  width: 100%;
  height: 190px;
  margin-top: 0px;
  border-radius: 5px;
}

.p20{
  font-size: 1.042vw;
  line-height: 1.1em;
}




.testmarg{
  display: inline-block;
  margin-left: widthpr(100,$widthbase );
  align-content: center;
  //background-color: red;
}

.mil{
  margin-left: widthpr(100,$widthbase );
  //background-color: red;
}



.flex{
  display:flex;
  align-items: center;
  //justify-content: space-between;
  justify-content: center;
}



#cercle {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 20px;
  background: #618226;
  color:black;
}
.al{
  display: flex;
  justify-content: center;

}

.mrg{
  margin-right: 0.5%;
}


.insc{
  width: widthpr( 1542,$widthbase );
  margin-left: widthpr(192,$widthbase );
  justify-content: center;
  text-align: center;
  //height: 48px;
}