.showcase{
    background-image: url('/images/header-mentions-legales.jpg');
}

.page_content{
    background-color: #EDEDED;
    padding: 10%;

    h2{
        margin-top: 5%;
        font-size: 2.3vw;
        font-weight: bold;
    }
}

@media screen and (max-width: 1024px) and (min-height: 620px){
    .page_content{
        p{
            font-size: 3vw;
        }
        h2{
            font-size: 4vw;
        }
    }

}

@media screen and (max-width: 480px){
    .page_content{
        p{
            font-size: 3vw;
        }
        h2{
            font-size: 4vw;
        }
    }

}

