@use "function";
@import "./base/variables";

body {
  background-color:#F0F0F0;
  font-size: 1.04vw;
  font-family: Droid Sans, sans-serif;
  line-height: 1.3;
  overflow-x: hidden;
  margin: 0;
}

.div-title-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11.77%;
}

.title-category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48.125%;
  font-weight: bold;
  font-size: 4.6875vw;
  color: white;
  text-align: center;
  margin-bottom: 35%;
}

.green-banner-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #618227;
  padding: 4.22% 0%;
}

.category-text {
  font-size: 1.51vw;
  width: 82.03125%;
  color: white;
}

.div-produit-title {
  margin: 6.40625% 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.produit-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35.15625%;
  font-weight: bold;
  font-size: 1.46vw;
}

.div-recherche-produit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9.74%;
}

.container-recherche-produit {
  width: 80.6%;
  background-color: white;
  padding: 3.43%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.recherche-produit {
  width: 59%;
  display: flex;
}

.data-recherche-produit {
  width: 27.5%;
}

.data-recherche-produit:not(:last-of-type) {
  margin-right: 8.8%;
}

.data-recherche-title {
  width: 100%;
  font-size: 1.46vw;
}

.data-recherche-entrer {
  display: flex;
  width: 100%;
  margin-top: 8%;
}

.container-recherche-input {
  width: 100%;
  height: 2.71vw;
  display: flex;
  border: solid #707070 0.05vw;
  border-radius: 0.52vw;
}

.container-recherche-input input {
  width: 63.5%;
  display: flex;
  border: none;
  outline: none;
  font-size: 1.04vw;
  border-radius: 0.52vw;
}

.icon-recherche {
  width: 20%;
  height: 2.7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-recherche img {
  width: 50%;
}

.div-recherche-valider {
  margin-left: 10.6%;
  width: 8.1%;
  background-color: black;
  color: white;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5%;
  cursor: pointer;
}

.div-recherche-valider button {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 1.04vw;
  cursor: pointer;
  border-radius: 1vw;
}

.div-title-entreprise {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.46vw;
  margin-bottom: 5.73%;
}

.container-title-entreprise {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.div-icones-entreprise {
  margin-left: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-icones-entreprise {
  width: 34.375%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.04vw;
  margin-bottom: 8.4%;
}

.container-category, .container-subcategory {
  display: flex;
}

.container-category {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-category {
  width: 12.75%;
}

.icon-category img {
  width: 100%;
}

.category-name {
  width: 87.25%;
  font-size: 1.04vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-subcategory {
  width: 30%;
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.icon-subcategory {
  width: 4.4%;
  height: 2.1vw;
  margin: 0% 3% 0% 5%;
}

.icon-subcategory img {
  width: 100%;
  height: 2.1vw;
}

.companies-list{
  width: 80.6%;

  .div-fiche-entreprise {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .div-fiche-entreprise {
    margin-bottom: 6.42%;
  }

  .container-fiche-entreprise {
    width: 100%;
    display: flex;
  }

  .container-niveau{

    display: flex;
    align-items: center;

    .title-niveau{
      margin-right: 10%;
    }

    div.niveau{
      width: 4vw;
      border-radius: 9px;
      height: 3.5vw;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;

      &.n0{
        background-color: $blue;
      }
      &.n1{
        background-color: $yellow;
      }
      &.n2{
        background-color: $green;
      }
    }
  }

  .data-colonne-entreprise{
    width: 12%;
  }

}


.div-logo-entreprise {
  width: function.pxToVw(280, 1519);
  height: function.pxToVw(280, 1519);
  //background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 5.8%;

  img{
    max-width: 100%;
    max-height: 100%;
  }
}

.no-logo{
  font-size: 1vw;
  background-color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.title-conso {
  width: 59%;
  margin-right: 34%;
}

.icon-conso text {
  top: 1770px;
  left: 1400px;
  width: 191px;
  height: 52px;
}

.icon-conso svg {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.div-acheter-entreprise {
  display: flex;
}

.cf-fiche-entreprise {
  width: 90%;
  background-color: #E8A41B;
  border-radius: 0.52vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.6% 2.5%;
  margin-right: 4.6%;
  cursor: pointer;
}

.acheter-entreprise {
  background-color: #618226;
  width: 90%;
  border-radius: 0.52vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.6% 2.5%;
  cursor: pointer;
}

.avis-result {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.avis-result-conso, .avis-result-entreprise {
  width: 100%;
  display: flex;
}

.result-stars-conso, .result-stars-entreprise {
  width: 15.4%;
  display: flex;
  margin-right: 5.8%;
}

.icon-result-conso {
  margin-right: 3.8%;
  width: 17%;
}

.icon-result-conso svg {
  width: 100%;
}

.resulat-comments-conso, .resulat-comments-entreprise {
  width: 20.4%;
}

.resulat-comments-conso {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #618226;
  border-radius: 0.275vw;
  padding: 1.5% 0%;
  margin-bottom: 4%;
}

.resulat-comments-entreprise {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #FFBE2B;
  border-radius: 0.275vw;
  padding: 1.5% 0%;
}

.div-other-subcat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.35%;
  background-color:#F0F0F0;
}

.container-other-subcat {
  width: 66.2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-other-subcat {
  width: 27.2%;
  cursor: pointer;
}

.card-other-subcat img {
  width: 100%;
}

.card-other-subcat:not(.subcat-mrgr) {
  margin-right: 9.1%;
}

.subcat-mrgb {
  margin-bottom: 7.8%;
}

.div-programs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6.6%;
  margin-bottom: 6.25%;
}

.container-programs {
  padding: 4% 0%;
  background-color: white;
  width: 67%;
  display: flex;
  justify-content: space-around;
}

.dash-program-card {
  width: 28.36%;
}

.dash-program-card img {
  width: 100%;
}

.dash-program-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 86.5%;
}

.dash-program-description {
  padding: 3%;
  font-size: 1.98vw;
}

.div-login-achat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.02%;
}

.container-login-achat {
  width: 80.6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 4.52% 0%;
}

.login-signup {
  margin-bottom: 4.6%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-gauche, .signup-right {
  width: 31.35%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 17.8125vw;
}

.login-gauche {
  margin-right: 16.16%;
}

.btn-login {
  width: 44.54%;
  font-size: 1.77vw;
  padding: 2.88% 0%;
  background-color: #618226;
  border-radius: 0.52vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-signup {
  width: 64%;
  font-size: 1.77vw;
  padding: 2.88% 0%;
  background-color: #618226;
  border-radius: 0.52vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.form-login {
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: -18%;
}

.data-form-login-margr {
  margin-right: 6%;
}

.valider-form-login {
  margin-left: 17.4%;
  background-color: #618226;
  border-radius: 1.05vw;
  color: white;
  width: 17.22%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.55% 0%;
  cursor: pointer;
}

.form-login label {
  margin-bottom: 1.1%;
}

.data-form-login input {
  border: solid #618226 0.05vw;
  border-radius: 0.52vw;
  width: 100%;
  outline: none;
  padding: 2% 2%;
}



.card-subcategories {
  cursor: pointer;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  img{
    left: 1225px;
    max-width: 100%;
    filter: brightness(50%);
    opacity: 1;
  }
}

.card-subcategories:not(:last-of-type) {
  margin-bottom: 3.55%;
}

.card-subcategories:not(.card_subcat_marg) {
  margin-right: 6.65%;
}

.subcategories-title {
  position: absolute;
  font-size: 1vw;
  color: #FFFFFF;
}

.div-consultez-aussi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.25%;
}

.container-consultez-aussi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.619vw;
  font-weight: bold;
}

.div-other-cat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.82%;
}

.container-other-cat {
  width: 79.2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-allcat {
  cursor: pointer;
  width: 23%;
  background-color: white;
  border-radius: 0.42vw;
  height: 18.1770833vw;
}

.allcat-img {
  width: 100%;
  height: 12.8125vw;
}

.allcat-img img {
  width: 100%;
  height: 12.8125vw;
  border-radius: 0.42vw;
}

.allcat-title {
  width: 100%;
  margin: 10.6% 0%;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-allcat:not(:last-of-type) {
  margin-bottom: 3.55%;
}

.card-allcat:not(.card_allcat_marg) {
  margin-right: 2.63%;
}

.div-programs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6.6%;
  margin-bottom: 6.25%;
}

.container-programs {
  padding: 4% 0%;
  background-color: white;
  width: 67%;
  display: flex;
  justify-content: space-around;
}

.dash-program-card {
  width: 28.36%;
}

.dash-program-card img {
  width: 100%;
}

.dash-program-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 86.5%;
}

.dash-program-description {
  padding: 3%;
  font-size: 1.98vw;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tri{
  width: 80.6%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3%;

  .tri-content{
    width: 30%;
    display: flex;
    justify-content: space-between;

    p{
      font-weight: bold;
    }
  }
}

.navigation{
  width: 10%;

  .pagination{
    width: 100%;
    justify-content: space-evenly;

    a{
      color: black;
    }

    span.current{
      font-weight: bold;
    }
  }
}


/*# sourceMappingURL=page_subcategories.css.map */
