<form method="post" action="{{ path('sucess_story_delete', {'id': sucess_story.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sucess_story.id) }}">
    <button class="btn">Delete</button>
</form>
