/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en vw*/
.logo-produits {
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  align-items: center;
  background: #fff;
  font-weight: bold;
  text-align: center;
}

.bloc-card {
  width: 80%;
}

.grid-card {
  display: flex;
  padding: 10px;
  margin: 20px 2% 0 2%;
  max-width: 100%;
  /*.grid-photo img{
    max-height: 70%;
    max-width: 100%;
  }*/
}
.grid-card .grid-photo {
  width: 32.469%;
  height: 23.855vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.grid-card .grid-photo img {
  border-radius: 0.5rem;
  max-height: 100%;
  max-width: 100%;
}
.grid-card .grid-infos {
  width: 22%;
  padding: 0 0 33px 33px;
}

.lien-ficheProduit {
  font-size: 1.04vw;
  text-align: left;
  color: #000;
}

.lien-ficheProduit:hover {
  color: #618226;
}

/*.grid-infos {
  padding: 20px;
}*/
.div-btn {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 14rem;
  bottom: 8.3rem;
  position: relative;
}
.div-btn .btn-edit {
  text-decoration: none;
  background-color: none;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: black;
  font-weight: normal;
  padding: 0.375rem 2.3rem;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 3%;
}
.div-btn .btn-delete {
  grid-column-end: auto;
  text-decoration: none;
  background-color: #a80000;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: whitesmoke;
  font-weight: normal;
  padding: 0.375rem 2.3rem;
  font-size: 20px;
  line-height: 1.5;
}

.div-titre {
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.avis-produit-consomm {
  margin-top: 10px;
}

.avis-title {
  text-align: center;
}

.avis-conso {
  fill: #618226;
}

.avis-entreprise {
  fill: #FFBE2B;
}

.avis-star1-vide {
  fill: none;
  stroke: #618226;
  stroke-miterlimit: 10;
}

.avis-star1 {
  fill: #618226;
  stroke: #618226;
  stroke-miterlimit: 10;
}

.avis-star2 {
  fill: #ffbe2b;
  stroke: #ffbe2b;
  stroke-miterlimit: 10;
}

.avis-star2-vide {
  fill: none;
  stroke: #ffbe2b;
  stroke-miterlimit: 10;
}

@media screen and (max-width: 1280px) and (min-height: 600px) {
  .div-btn {
    margin-right: 5rem;
    bottom: 6rem;
  }
  .div-btn .btn-edit,
.div-btn .btn-delete {
    padding: 1px 20px;
    font-size: 1.5vw;
    border-radius: 5px;
  }

  .grid-card .grid-photo {
    width: 24.61%;
    height: 20.676vw;
  }
}
@media screen and (max-width: 1024px) and (min-height: 720px) {
  .grid-card {
    margin: 2%;
  }

  .grid-card .grid-photo {
    width: 24.61%;
    height: 20.676vw;
  }

  .grid-infos > div > div,
.lien-ficheProduit {
    font-size: 2.2222222222vw;
  }

  .grid-card .grid-infos {
    width: 25%;
    padding: 0 6px 6px 6px;
  }
  .grid-card .grid-infos .div-titre {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .div-btn .btn-edit,
.div-btn .btn-delete {
    padding: 1px 3px;
    font-size: 2.3888888889vw;
    border-radius: 5px;
  }

  .div-btn {
    margin-right: 3rem;
    bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .grid-card {
    margin: 2%;
  }

  .grid-card .grid-photo {
    width: 24.61%;
    height: 20.676vw;
  }

  .grid-infos > div > div,
.lien-ficheProduit {
    font-size: 2.2222222222vw;
  }

  .grid-card .grid-infos {
    width: 25%;
    padding: 0 6px 6px 6px;
  }
  .grid-card .grid-infos .div-titre {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .div-btn .btn-edit,
.div-btn .btn-delete {
    padding: 1px 3px;
    font-size: 2.3888888889vw;
    border-radius: 5px;
  }

  .div-btn {
    margin-right: 3rem;
    bottom: 3.5rem;
  }
}
@media screen and (max-width: 280px) {
  .div-btn {
    margin-right: 2rem;
    bottom: 3.5rem;
  }
}

/*# sourceMappingURL=card_produits_services.css.map */
