@charset "UTF-8";
/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en vw*/
body {
  background-color: #EDEDED;
  font-size: 1.04vw;
}

.icon-profil {
  fill: none;
}

.banner-profil-description {
  font-size: 1.46vw;
  color: white;
  font-weight: bold;
  width: 48.5%;
  text-align: center;
  margin-bottom: 4.11%;
}

.green-intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #618226;
  color: white;
  font-weight: bold;
  font-size: 1.51vw;
  padding: 3.07% 0%;
}

.green-intro-text {
  width: 80.3125%;
}

.header-entreprise {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.46vw;
  padding: 0.42% 0%;
  margin-bottom: 4.63%;
}

.title-entreprise {
  width: 26.6%;
}

.container-fiche, .container-favoris {
  display: flex;
  align-items: center;
  width: 100%;
}

.pointe-droite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.74%;
  margin: 0% 2%;
}

.pointe-droite svg, .icon-star svg {
  width: 100%;
}

.favoris-entreprise {
  width: 26.93%;
}

.add-favoris {
  width: 52%;
  text-decoration: underline;
}

.icon-star {
  width: 6.1%;
  margin: 0% 3.25% 0% 0.78%;
}

.nb-favoris {
  text-align: center;
  width: 32.88%;
  border-radius: 0.52vw;
  background-color: #F2F5ED;
  padding: 2.5% 4.4%;
}

.total-favoris {
  color: #618226;
}

.container-profil {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 6.7%;
}

.entreprise-details {
  width: 34.84375%;
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 3.5%;
}

.logo-entreprise {
  width: 38%;
  height: 14.375vw;
  margin-right: 8.97%;
}

.no-logo {
  font-size: 1vw;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo-entreprise img {
  max-width: 100%;
  max-height: 100%;
}

.container-data-entreprise {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-entreprise {
  width: 100%;
  word-wrap: break-word;
}

.data-entreprise:not(:last-of-type) {
  margin-bottom: 2.54%;
}

.carte-entreprise {
  width: 28.85%;
  height: 14.375vw;
  background-color: white;
  border: solid thin #707070;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-description-vision {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 7.3%;
}

.container-description-vision {
  width: 73.65%;
  display: flex;
}

.title-descrption-entreprise, .title-vision-entreprise {
  width: 100%;
  color: #618226;
  font-size: 1.46vw;
  font-weight: bold;
  margin-bottom: 4%;
}

.div-description {
  width: 52.76%;
  margin-right: 9.47%;
}

.description-entreprise {
  display: flex;
}

.description-pointe-droite {
  display: flex;
  align-items: flex-start;
  width: 10%;
  margin-right: 2%;
  margin-top: 1%;
}

.description-pointe-droite svg {
  width: 100%;
  height: 0.72vw;
  display: flex;
  align-items: flex-start;
}

.div-vision {
  width: 44%;
}

.question-vision {
  margin-bottom: 5%;
}

.vision-entreprise {
  display: flex;
}

.vision-pointe-droite {
  display: flex;
  align-items: flex-start;
  width: 10%;
  margin-right: 2%;
  margin-top: 1%;
}

.vision-pointe-droite svg {
  width: 100%;
  height: 0.72vw;
  display: flex;
  align-items: flex-start;
}

.div-modif-suppr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.7%;
}

.btn-modifier {
  text-align: center;
  width: 12.6%;
  border: solid thin black;
  border-radius: 0.52vw;
  font-size: 1.04vw;
  padding: 0.6% 0%;
  margin-right: 1.92%;
  color: black;
  font-weight: bold;
}
.btn-modifier:hover {
  color: black;
}

.categories {
  z-index: 9;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #ededed;
  border: solid 5px white;
}

.categories-list {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 1;
}

.categories-element {
  width: 25%;
  margin-bottom: 1vh;
}

.categories-element label {
  padding: 4px 2px;
  border-radius: 0.52vw;
  background-color: white;
  z-index: 10;
}

.categories-button {
  background-color: green;
  padding: 2.25% 0%;
  border-radius: 0.52vw;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.categories-popup-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.categories-popup-button button {
  padding: 0.9% 5%;
  margin: 0.5%;
}

.div-programs {
  margin-bottom: 5.73%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-programs {
  padding: 4% 0%;
  background-color: white;
  width: 73%;
  display: flex;
  justify-content: space-around;
}

.dash-program-card {
  width: 28.36%;
}

.dash-program-card img {
  width: 100%;
}

.dash-program-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 86.5%;
}

.dash-program-description {
  padding: 3%;
  font-size: 1.98vw;
}

.div-subcat {
  display: flex;
  justify-content: center;
  width: 100%;
}

.div-subcat:not(:last-of-type) {
  margin-bottom: 6.82%;
}

.container-subcat {
  display: flex;
  width: 78.125%;
}

.cat-principal {
  width: 13%;
  margin-right: 5.4%;
}

.container-icon-cat {
  width: 100%;
  background-color: #618226;
  border-radius: 0.52vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-cat {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-cat img {
  width: 100%;
}

.cat-name {
  margin-top: 8.82%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.all-subcat {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*.three-subcat{
  display: flex;
  flex-direction: column;
  width: 33.33%;
}*/
.card-subcat {
  display: flex;
  align-items: center;
  width: 33%;
}

.container-icon-subcat {
  width: 23.75%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.52vw;
  margin-right: 9.74%;
}

.subcat-mrgb {
  margin-bottom: 6.7%;
}

.icon-subcat img {
  width: 100%;
}

.subcat-name {
  font-size: 1.04vw;
  width: 66.5%;
}

.div-modif-produits {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-modif-produits {
  width: 80.3125%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.333%;
}
.container-modif-produits.modif-productShow {
  width: 40%;
}

.vert {
  width: 44.2%;
  background-color: #618226;
  border-radius: 0.52vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.6% 0%;
  margin-right: 11.6%;
  cursor: pointer;
}

/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en vw*/
.logo-produits {
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  align-items: center;
  background: #fff;
  font-weight: bold;
  text-align: center;
}

.bloc-card {
  width: 80%;
}

.grid-card {
  display: flex;
  padding: 10px;
  margin: 20px 2% 0 2%;
  max-width: 100%;
  /*.grid-photo img{
    max-height: 70%;
    max-width: 100%;
  }*/
}
.grid-card .grid-photo {
  width: 18.4331797235vw;
  height: 18.4331797235vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.grid-card .grid-photo img {
  border-radius: 0.5rem;
  max-height: 100%;
  max-width: 100%;
}
.grid-card .grid-infos {
  width: 22%;
  padding: 0 0 33px 33px;
}

.lien-ficheProduit {
  font-size: 1.04vw;
  text-align: left;
  color: #000;
}

.lien-ficheProduit:hover {
  color: #618226;
}

/*.grid-infos {
  padding: 20px;
}*/
.div-btn {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 14rem;
  bottom: 8.3rem;
  position: relative;
}
.div-btn .btn-edit {
  text-decoration: none;
  background-color: none;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: black;
  font-weight: normal;
  padding: 0.375rem 2.3rem;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 3%;
}
.div-btn .btn-delete {
  grid-column-end: auto;
  text-decoration: none;
  background-color: #a80000;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: whitesmoke;
  font-weight: normal;
  padding: 0.375rem 2.3rem;
  font-size: 20px;
  line-height: 1.5;
}

.div-titre {
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.avis-produit-consomm {
  margin-top: 10px;
}

.avis-title {
  text-align: center;
}

.avis-conso {
  fill: #618226;
}

.avis-entreprise {
  fill: #FFBE2B;
}

.avis-star1-vide {
  fill: none;
  stroke: #618226;
  stroke-miterlimit: 10;
}

.avis-star1 {
  fill: #618226;
  stroke: #618226;
  stroke-miterlimit: 10;
}

.avis-star2 {
  fill: #ffbe2b;
  stroke: #ffbe2b;
  stroke-miterlimit: 10;
}

.avis-star2-vide {
  fill: none;
  stroke: #ffbe2b;
  stroke-miterlimit: 10;
}

@media screen and (max-width: 1280px) and (min-height: 600px) {
  .div-btn {
    margin-right: 5rem;
    bottom: 6rem;
  }
  .div-btn .btn-edit,
.div-btn .btn-delete {
    padding: 1px 20px;
    font-size: 1.5vw;
    border-radius: 5px;
  }

  .grid-card .grid-photo {
    width: 24.61%;
    height: 20.676vw;
  }
}
@media screen and (max-width: 1024px) and (min-height: 720px) {
  .grid-card {
    margin: 2%;
  }

  .grid-card .grid-photo {
    width: 24.61%;
    height: 20.676vw;
  }

  .grid-infos > div > div,
.lien-ficheProduit {
    font-size: pxToVw(8px, 360px);
  }

  .grid-card .grid-infos {
    width: 25%;
    padding: 0 6px 6px 6px;
  }
  .grid-card .grid-infos .div-titre {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .div-btn .btn-edit,
.div-btn .btn-delete {
    padding: 1px 3px;
    font-size: pxToVw(8.6px, 360px);
    border-radius: 5px;
  }

  .div-btn {
    margin-right: 3rem;
    bottom: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .grid-card {
    margin: 2%;
  }

  .grid-card .grid-photo {
    width: 24.61%;
    height: 20.676vw;
  }

  .grid-infos > div > div,
.lien-ficheProduit {
    font-size: pxToVw(8px, 360px);
  }

  .grid-card .grid-infos {
    width: 25%;
    padding: 0 6px 6px 6px;
  }
  .grid-card .grid-infos .div-titre {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .div-btn .btn-edit,
.div-btn .btn-delete {
    padding: 1px 3px;
    font-size: pxToVw(8.6px, 360px);
    border-radius: 5px;
  }

  .div-btn {
    margin-right: 3rem;
    bottom: 3.5rem;
  }
}
@media screen and (max-width: 280px) {
  .div-btn {
    margin-right: 2rem;
    bottom: 3.5rem;
  }
}
body {
  background-color: #EDEDED;
  font-size: 1vw;
}

.icon-profil {
  fill: none;
}

.banner-profil-description {
  font-size: 1.46vw;
  color: white;
  font-weight: bold;
  width: 48.5%;
  text-align: center;
  margin-bottom: 4.11%;
}

.green-intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #618226;
  color: white;
  font-weight: bold;
  font-size: 1.51vw;
  padding: 3.07% 0%;
}

.green-intro-text {
  width: 80.3125%;
}

.div-presentation-produits {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 11.2%;
  margin-top: 2.8125%;
}

.container-presentation-produits {
  width: 81.4%;
  font-size: 1.46vw;
}

.header-entreprise {
  background-color: #F2F5ED;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.46vw;
  padding: 0.42% 0%;
  margin-bottom: 4.63%;
}

.title-entreprise {
  width: 26.6%;
}

.container-fiche, .container-favoris {
  display: flex;
  align-items: center;
  width: 100%;
}

.pointe-droite {
  width: 2.74%;
  margin: 0% 2%;
}

.pointe-droite svg, .icon-star svg {
  width: 100%;
}

.pointe-droite svg {
  fill: #FFBE2B;
}

.favoris-entreprise {
  width: 26.93%;
}

.add-favoris {
  width: 52%;
  text-decoration: underline;
}

.icon-star {
  width: 6.1%;
  margin: 0% 3.25% 0% 0.78%;
}

.nb-favoris {
  text-align: center;
  width: 32.88%;
  border-radius: 0.52vw;
  background-color: #F2F5ED;
  padding: 2.5% 4.4%;
}

.total-favoris {
  color: #618226;
}

.div-profil {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-profil {
  width: 72%;
  display: flex;
}

.entreprise-details {
  width: 36.8%;
  display: flex;
  justify-content: center;
  margin-right: 2.6%;
}

/*.logo-entreprise{
  width: 42.52%;
  display: flex;
  align-items: center;
  justify-content: center;
  //border: solid 0.16vw black;
  text-align: center;
  margin-right: 6%;
  height:12.65625vw ;
  overflow: hidden;
}
.logo-entreprise img{
  width: 100%;
}*/
.data-entreprise {
  font-size: 1.04vw;
  line-height: 1.2vw;
}

.data-entreprise:not(:last-of-type) {
  margin-bottom: 4%;
}

.div-description-vision {
  width: 62.3%;
}

.container-description-vision {
  display: flex;
  flex-direction: column;
}

.div-description {
  margin-bottom: 8.5%;
}

.title-descrption-entreprise {
  width: 100%;
  font-weight: bold;
  font-size: 1.46vw;
  margin-bottom: 3.5%;
}

.description-entreprise {
  display: flex;
  align-items: center;
}

.description-text {
  width: 98%;
}

.description-pointe-droite {
  width: 1.63%;
  margin-right: 2.6%;
}

.description-pointe-droite svg {
  width: 100%;
  fill: #FFBE2B;
}

.title-vision-entreprise {
  width: 100%;
  font-weight: bold;
  font-size: 1.46vw;
  margin-bottom: 3.5%;
}

.question-vision {
  font-size: 1vw;
  margin-bottom: 1.3%;
}

.vision-entreprise {
  display: flex;
  align-items: center;
}

.vision-text {
  width: 98%;
}

.vision-pointe-droite {
  width: 1.63%;
  margin-right: 2.6%;
}

.vision-pointe-droite svg {
  width: 100%;
  fill: #FFBE2B;
}

.div-secteur {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.5%;
  margin-bottom: 7%;
}

.container-secteur {
  width: 80.3125%;
  display: flex;
  justify-content: center;
}

.container-carte {
  background-color: white;
  width: 32.04%;
  height: 17.375vw;
  border: solid 0.05vw #707070;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
}

.container-tableau-secteur {
  background-color: #F2F5ED;
  width: 66%;
  border-top-left-radius: 0.52vw;
  border-top-right-radius: 0.52vw;
  height: fit-content;
}

.container-tableau-secteur table {
  width: 100%;
  border-radius: 0.52vw;
}

.container-tableau-secteur table thead {
  width: 100%;
  font-size: 1.46vw;
  font-weight: bold;
  color: white;
}

.container-tableau-secteur table thead th:first-of-type {
  background-color: #618226;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: solid 0.05vw #707070;
  width: 50%;
}

.container-tableau-secteur table thead th:last-of-type {
  background-color: #618226;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table1 tbody td:not(.tr-brdb td) {
  padding: 0;
  border-bottom: none;
}

.table1 tbody tr td {
  width: 50%;
}

.table1 tbody .tr-brdb td {
  border-bottom: solid 0.05vw #707070;
}

.table1 td {
  padding: 3% 0% !important;
}

.table1 td div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.table1 tbody tr .td-brdr {
  border-right: solid 0.05vw #707070;
}

.table1 thead th {
  border: none;
  text-align: center;
}

.container-certifs {
  width: 80.3125%;
  display: flex;
}

.container-google-map {
  margin-top: 2.075%;
  width: 32.04%;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
}

.div-lieux {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  margin-bottom: 5.7%;
}

.div-map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.46vw;
}

.div-certifications {
  width: 66%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-certifications {
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-top: 3%;
}

.certif-data {
  width: 33%;
}

.certif-data-mrgB {
  margin-bottom: 5%;
}

.certif-title {
  font-weight: bold;
}

.data-niveau {
  display: flex;
  align-items: center;
}

.text-niveau {
  color: white;
  background-color: #618226;
  width: 12.5%;
  border-radius: 0.52vw;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.div-modif-produits {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-modif-produits {
  width: 80.3125%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.333%;
}
.container-modif-produits.modif-productShow {
  width: 40%;
}

.data-modif-produits {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 39%;
  background-color: #FFBE2B;
  border-radius: 0.52vw;
  color: white;
  padding: 0.6% 0%;
  cursor: pointer;
  margin-right: 5%;
  margin-left: 5%;
}

.search-input-product {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: white;
}

.search-input-product::placeholder {
  color: white;
}

.btn-recherche-produit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-search-product {
  border: none;
  outline: none;
  width: 80%;
}

.container_activ {
  background-color: white;
  border: solid 0.05vw #FFBE2B;
  color: black;
}

.voir-tous-produits {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.52% 0%;
  cursor: pointer;
  border: none;
  outline: none;
}

.masquer-tous-produits {
  background-color: white;
  color: #FFBE2B;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.voir-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4% 0%;
  margin-right: 3%;
}

.icon-plus-produits {
  width: 7.06%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-plus-produits svg {
  width: 100%;
}

.div-produits {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 12.5%;
}

.container-produits {
  width: 80.3125%;
  background-color: #F2F5ED;
  border-radius: 0.52vw;
  padding: 1%;
}

.table-produits {
  width: 100%;
}

.table-produits thead th {
  border-bottom: solid 0.05vw #707070;
  font-weight: bold;
  font-size: 1.04vw;
}

.table-produits thead tr th {
  text-align: left;
}

.th-Nom {
  width: 17%;
}

.th-Descriptif {
  width: 22.4%;
}

.th-Niveau {
  width: 8.2%;
}

.th-Certification {
  width: 10.7%;
}

.th-Origine {
  width: 13.8%;
}

.th-Recommandation {
  width: 12.8%;
}

.th-avis {
  width: 15.2%;
}

.table-produits thead tr th:first-child {
  text-align: center;
}

.div-avis {
  display: flex;
  flex-direction: column;
}

.data-avis {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.avis-title {
  width: 94%;
  text-align: left;
  font-weight: bold;
}

.avis-etoile {
  width: 6.38%;
  text-align: left;
}

.avis-etoile svg {
  width: 100%;
}

.div-recomm {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
}

.table-produits tbody {
  font-size: 0.94vw;
}

.table-produits tbody td {
  border: none;
}

.table-produits tbody tr:not(:last-of-type) {
  border-bottom: solid 0.05vw #707070;
}

.table-produits tbody tr td {
  padding: 0;
}

.nom-img-produit {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 3% 5.38%;
}
.nom-img-produit .nom-produit {
  margin-right: 5px;
}
.nom-img-produit a {
  width: 10%;
  margin: 0 3px;
}
.nom-img-produit a img {
  width: 100%;
}

.lien-ficheProduit {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.lien-ficheProduit:hover {
  font-weight: bold;
}
.lien-ficheProduit::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.table-produits tbody tr td .div-td {
  width: 100%;
}

.img-produit {
  width: 20.6%;
  margin-right: 19%;
}

.img-produit img {
  width: 100%;
}

.container-niveau-produit {
  display: flex;
  align-items: center;
  justify-content: left;
}

.niveau-produit {
  padding: 0.36vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.26vw;
}

.niveau-produitN\.0,
.niveau-produitN\.1,
.niveau-produitN\.2 {
  color: white;
  width: 20.5%;
  border-radius: 0.52vw;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.niveau-produitN\.0 {
  background-color: #5770AD;
}

.niveau-produitN\.1 {
  background-color: #FFBE2B;
}

.niveau-produitN\.2 {
  background-color: #618226;
}

.gaearecommanded {
  display: flex;
  justify-content: left;
  width: 100%;
}

.gaea-oui, .gaea-non {
  width: 47.5%;
  display: flex;
  align-items: center;
}

.span-oui {
  margin-right: 12%;
}

.span-non {
  margin-left: 12%;
}

.gaea-oui svg, .gaea-non svg {
  width: 6.5%;
}

.gaearecommanded-false svg {
  display: none;
}

.div-questions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.6%;
}

.container-questions {
  width: 80.3125%;
  background-color: #F2F5ED;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4.6% 0%;
}

.container-questions-card {
  width: 83.1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-card {
  width: 28.34%;
  background-color: white;
}

.question-title {
  width: 100%;
  background-color: #FFBE2B;
  color: white;
  margin-top: 23vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  padding: 6.1% 0%;
}

.avis-produit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0%;
}

.avis-produit-consomm, .avis-produit-entreprise {
  display: flex;
  align-items: center;
}

.avis-produit-consomm {
  margin-bottom: 1.7%;
}

.avis-etoiles {
  display: flex;
  width: 51.2%;
  margin-right: 9%;
}

.container-star {
  display: flex;
}

.container-star svg {
  width: 100%;
  display: flex;
  height: 1vw;
}

.container-star:not(:last-of-type) {
  margin-right: 3.45%;
}

.avis-produit-entreprise .avis-nb {
  background-color: #FFBE2B;
}

.avis-produit-consomm .avis-nb {
  background-color: #618226;
}

.avis-nb {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50.6%;
  color: white;
  border-radius: 0.2vw;
}

.fiche-produit-nom {
  font-weight: bold;
  font-size: 2.3vw;
}

.div-profil-produit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-profil-produit {
  width: 80.3125%;
  display: flex;
  margin-bottom: 5.63%;
}

.image-profil-produit {
  width: 18.4331797235vw;
  height: 18.4331797235vw;
  margin-right: 6.55%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-profil-produit img {
  max-width: 100%;
  max-height: 100%;
}

.description-profil-produit {
  width: 42.5%;
  margin-right: 2.85%;
}

.data-title-produit {
  align-items: flex-end;
  width: 100%;
  word-wrap: break-word;
}

.data-title-produit span {
  font-weight: bold;
  margin-right: 0.5%;
}

.niveau-ref .data-title-produit {
  margin-right: 1%;
}

.etiquette-niveau {
  color: white;
  background-color: #618226;
  width: 2.2vw;
  height: 1.98vw;
  border-radius: 0.52vw;
  padding: 0.05vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
}

.niveau-profil-produit {
  width: 6.4%;
  height: 1.98vw;
  background-color: #618226;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.52vw;
  margin-left: 0.5%;
  padding-top: 0.5%;
}

.avis-profil-produit {
  width: 14.3%;
}

.avis-produit-title {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-bottom: 5.5%;
}

.title-avis-conso {
  margin-top: 19%;
}

.avis-nb2 {
  width: 36.8%;
  color: white;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avis-nb2-entreprise {
  background-color: #FFBE2B;
}

.avis-nb2-conso {
  background-color: #618226;
}

.ajout-produit {
  text-decoration: none;
  color: whitesmoke;
}

.ajout-service {
  text-decoration: none;
  color: whitesmoke;
}

div.cards {
  margin-bottom: 10%;
}

.card-products-icones {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.card-products-icones h1 {
  color: #618226;
  font-size: 2rem;
  font-weight: bold;
}
.card-products-icones img {
  width: 10%;
  margin-right: 10px;
}
.card-products-icones img.img-catsAlimentation.\&.Boisson {
  width: 25px;
}
.card-products-icones img.img-catsAnimaux,
.card-products-icones img.img-catsCommunauté,
.card-products-icones img.img-catsBureautique,
.card-products-icones img.img-catsArt.\&.Design,
.card-products-icones img.img-catsEnvironnement,
.card-products-icones img.img-catsJardinage.et.plantes,
.card-products-icones img.img-catsLoisirs.et.jeux,
.card-products-icones img.img-catsONG.et.associations,
.card-products-icones img.img-catsMaison,
.card-products-icones img.img-catsAdministration {
  width: 2.5rem;
}
.card-products-icones img.img-catsTourisme.\&.Transport {
  width: 2.3rem;
}
.card-products-icones img.img-catsFormation,
.card-products-icones img.img-catsLoisirs.et.jeux,
.card-products-icones img.img-catsMode.et.textile {
  width: 3rem;
}
.card-products-icones img.img-catsGestion.des.déchets,
.card-products-icones img.img-catsLabel,
.card-products-icones img.img-catsSanté.et.bien-être {
  width: 1.7rem;
}
.card-products-icones img.img-catsGreen.tech.\-.Clean.Tech,
.card-products-icones img.img-catsMédia.et.communication,
.card-products-icones img.img-catsArtisanat {
  width: 2rem;
}

div#map {
  z-index: -1;
}

img.img-icones-cats,
img.img-icones-sub-cats {
  display: none;
}

@media screen and (max-width: 1280px) {
  .entreprise-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: initial;
    margin-left: initial;
    margin-right: initial;
    margin-bottom: 3rem;
  }

  .logo-entreprise {
    width: 18.52%;
    height: 18.335vw;
  }

  body {
    font-size: 1.7vw;
  }

  .container-presentation-produits,
.question-vision,
.green-intro,
.description-text,
.table1 td div {
    font-size: 1.5vw;
  }

  .container-profil {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }

  .div-description-vision {
    width: 100%;
    justify-content: initial;
  }

  .div-description {
    margin-bottom: 3.5%;
  }

  .title-descrption-entreprise {
    margin-bottom: 1.5%;
  }

  .data-entreprise {
    font-size: 1.7vw;
    line-height: 3vw;
  }

  .container-description-vision,
.div-vision,
.div-description,
.description-text,
.container-tableau-secteur {
    width: 100%;
  }

  .title-descrption-entreprise,
.title-vision-entreprise {
    font-size: 2.5vw;
    margin-left: 4%;
  }

  .vision-pointe-droite,
.description-pointe-droite {
    width: 3%;
    margin-right: 2px;
  }

  .vision-pointe-droite svg,
.description-pointe-droite svg {
    height: 2vw;
  }

  .description-entreprise {
    align-items: end;
  }

  .question-vision {
    margin-left: 4%;
  }

  .container-certifs {
    margin-top: 20px;
  }

  .container-certifications {
    margin-top: 3%;
    flex-direction: row;
    flex-wrap: initial;
    justify-content: initial;
    align-items: baseline;
  }

  .certif-data {
    text-align: center;
  }

  .certif-data.data-niveau.certif-data-mrgB {
    display: flex;
    justify-content: space-around;
  }

  .text-niveau {
    width: 23.5%;
  }

  div#map {
    width: 63%;
    height: 22vw;
  }
}
@media screen and (max-width: 1023px) {
  .entreprise-details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: initial;
    margin-left: initial;
    margin-right: initial;
  }

  .container-certifs {
    width: 91.3125%;
  }

  body {
    font-size: 1.7vw;
  }

  .container-profil {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }

  .div-description-vision {
    width: 100%;
    justify-content: initial;
  }

  .logo-entreprise {
    width: 18.52%;
    height: 18.335vw;
  }

  .data-entreprise {
    font-size: 2.5vw;
    line-height: 4vw;
  }

  .container-description-vision,
.div-vision,
.div-description,
.description-text,
.container-tableau-secteur {
    width: 100%;
    font-size: 2.3vw;
  }

  .title-descrption-entreprise,
.title-vision-entreprise {
    font-size: 4.5vw;
    margin-left: 3%;
    margin-top: 10px;
  }

  .vision-pointe-droite,
.description-pointe-droite {
    width: 3%;
    margin-right: 2px;
  }

  .vision-pointe-droite svg,
.description-pointe-droite svg {
    height: 3vw;
  }

  .question-vision {
    margin-left: 4%;
    font-size: 2.3vw;
  }

  .description-entreprise {
    align-items: end;
  }

  .container-fiche, .container-favoris {
    font-size: 2.3vw;
  }

  .container-presentation-produits,
.question-vision,
.green-intro,
.description-text,
.table1 td div {
    font-size: 2.3vw;
  }

  .title-entreprise,
.favoris-entreprise {
    width: 45%;
  }

  .container-secteur {
    width: 90%;
  }

  .container-tableau-secteur {
    width: 75%;
  }

  div#map {
    width: 63%;
    height: 22vw;
  }
}
@media screen and (max-width: 480px) {
  .title-entreprise {
    width: 31.6%;
  }

  .favoris-entreprise {
    width: 50.93%;
  }

  .green-intro-text,
.container-secteur {
    width: 90%;
  }

  .container-presentation-produits,
.question-vision,
.green-intro,
.description-text,
.table1 td div {
    font-size: 2.5vw;
  }

  .header-entreprise {
    font-size: 2.5vw;
  }

  .entreprise-details {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .container-profil {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }

  .div-description-vision {
    width: 100%;
    justify-content: initial;
  }

  .logo-entreprise {
    width: 18.52%;
    height: 18.335vw;
  }

  /*.logo-entreprise img {
    width: 100%;
    height: 100%;
  }*/
  .data-entreprise {
    font-size: 2.5vw;
    line-height: 4vw;
  }

  .container-description-vision,
.div-vision,
.div-description,
.description-text,
.container-tableau-secteur {
    width: 100%;
  }

  .title-descrption-entreprise,
.title-vision-entreprise {
    font-size: 4.5vw;
    margin-left: 4%;
    margin-top: 10px;
  }

  .vision-pointe-droite,
.description-pointe-droite {
    width: 3%;
    margin-right: 2px;
  }

  .vision-pointe-droite svg,
.description-pointe-droite svg {
    height: 3vw;
  }

  .question-vision {
    margin-left: 4%;
  }

  .container-secteur {
    width: 90%;
    flex-direction: column;
  }

  div#map {
    width: 100%;
    height: 50vw;
    margin-bottom: 10px;
  }

  .container-tableau-secteur {
    background-color: initial;
  }

  .table1 tbody .tr-brdb td {
    border-right: initial;
    border-bottom: initial;
  }

  .table1 td div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .table1 td div:first-child {
    margin-right: 10px;
  }

  .container-tableau-secteur table thead {
    font-size: 3.7vw;
  }

  img.img-icones-cats,
img.img-icones-sub-cats {
    display: block;
    width: pxToVw(20px, 360px);
    margin-right: 10px;
  }

  .container-certifs {
    width: 90.3125%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-certifs .certif-data {
    padding: 0 2px;
  }
  .container-certifs .certif-data.data-niveau.certif-data-mrgB {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .container-certifs .container-google-map {
    width: 61.04%;
  }
  .container-certifs .container-certifications {
    width: 100%;
  }
  .container-certifs .certif-data > .certif-title,
.container-certifs .certif-data > .certif-text,
.container-certifs .div-lieux > div.data-lieu {
    font-size: 2.22vw;
  }
  .container-certifs .text-niveau {
    width: 28.5%;
  }

  .container-modif-produits {
    width: 100%;
  }
  .container-modif-produits .voir-text {
    font-size: pxToVw(8px, 360px);
  }

  button.data-modif-produits {
    font-size: pxToVw(8px, 360px);
  }

  .avis-nb {
    width: 100%;
  }

  .avis-etoiles {
    width: 100%;
  }

  .niveau-produitN\.1, .niveau-produitN\.2, .niveau-produitN\.0 {
    width: 24.5%;
  }

  .div-titre {
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .card-products-icones h1 {
    font-size: 5.5vw;
  }

  .card-products-icones img.img-catsAnimaux, .card-products-icones img.img-catsCommunauté, .card-products-icones img.img-catsBureautique, .card-products-icones img.img-catsArt.\&.Design, .card-products-icones img.img-catsEnvironnement, .card-products-icones img.img-catsJardinage.et.plantes, .card-products-icones img.img-catsLoisirs.et.jeux, .card-products-icones img.img-catsONG.et.associations, .card-products-icones img.img-catsMaison, .card-products-icones img.img-catsAdministration {
    width: 6vw;
  }

  .card-products-icones img.img-catsAlimentation.\&.Boisson {
    width: 18px;
  }

  .container-star svg {
    height: 4vw;
  }

  .div-certifications {
    width: 100%;
  }
}
.vert {
  width: 44.2%;
  background-color: #618226;
  border-radius: 0.52vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.6% 0%;
  margin-right: 11.6%;
  cursor: pointer;
}

.container-fiche a {
  text-decoration: underline;
  color: black;
}

/*# sourceMappingURL=produits_entreprise.css.map */
