
.title-rv-text{

  width: 100%;
  .form{
    opacity: 1;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;

    div.input{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &.middle{
        margin: 0 10%;
      }

      input{
        border: none;
        border-radius: 5px;
      }
    }
    input[type=submit]{
      padding: 5px;
      height: fit-content;
      border: none;
      background-color: black;
      color: white;
      border-radius: 5px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1024px) {

  .title-rv-text{
    h5{
      font-size: 4.5vw;
    }

    .form {
      align-items: center;
      flex-direction: column;

      div.input.middle{
        margin: 0 0;
      }

      input{
        margin-top: 4%;
      }
    }
  }


}
