
{% extends 'base_homepage.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="title-banner-container" style="background-image: url({{asset('/images/login.jpg')}})">
        {% include "navbar.html.twig" %}

        <h3 class="banner-title">Sous construction</h3>

    </div>
{% endblock %}