{% extends 'base_homepage.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="green-banner col-l-12 col-m-12 col-s-12" style="height: 90px;">
        <h3> Page en construction </h3>
    </div>
    <div class="associatedprogram">
        <img class="programme-image" src="/css/img/programmes-associes/sustainable_living_program.jpg">
        <span class="programme-title">Sustainable Living Program</span>
    </div>

{% endblock %}
