{% block _app_product_image_widget %}
        <label for="app_product_image">
                <img src="/css/img/product/add.png" alt="ajout icône">
                Ajouter une photo du produit *
                <input type="file" id="app_product_image" name="app_product[image]" class="fileUpload" style="display: none">
        </label>

{% endblock %}