.carousel-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //margin-bottom: 8%;
  margin-top: 5%;


  .main-carousel{
    width: 84%;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;

    .flickity-page-dots .dot{
      background: none;
      border: 1px solid black;
      opacity: 1;

      &.is-selected{
        background-color: #5770AD;
        border: none;
      }
    }


    .flickity-viewport{
      height: 18vh !important;
      width: 85%;

      .flickity-slider{
        display: flex;
        justify-content: center;
        //transform: none !important;

        .carousel-cell {
          width: 17%;
          //position: initial !important;
          display: grid;
          justify-items: center;


          img {
            max-width: 55%;
            filter: drop-shadow(0 2px 2px grey);
          }
        }
      }


    }
  }
}

@media screen and (max-width: 1280px) and (min-height: 600px){

  .carousel-container {

    .main-carousel {
      margin-bottom: 10%;

      .flickity-viewport{
        height: 12vh !important;
      }
    }

  }
  .flickity-page-dots {
    bottom: -50px;
  }

  .carousel-container .main-carousel {
    width: 84%;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }

}

@media screen and (max-width: 1024px) and (min-height: 720px) {
  .carousel-container .main-carousel .flickity-viewport {
    height: 10vh !important;
    width: 90%;
  }
  .carousel-container .main-carousel {
    width: 86%;
  }

  .flickity-prev-next-button.previous {
    left: -20px;
    top: 20%;
  }

  .flickity-prev-next-button.next {
    right: -20px;
    top: 20%;
  }

  .flickity-page-dots {
    bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-container .main-carousel .flickity-viewport {
    height: 13vh !important;
  }
}

@media screen and (max-width: 480px) {
  .carousel-container .main-carousel .flickity-viewport {
    height: 10vh !important;
    width: 90%;
  }
  .carousel-container .main-carousel {
    width: 86%;
    margin-bottom: 0;
  }

  .flickity-prev-next-button.previous {
    left: -20px;
    top: 20%;
  }

  .flickity-prev-next-button.next {
    right: -20px;
    top: 20%;
  }
}

@media screen and (max-width: 280px) and (min-height: 653px){
  .carousel-container .main-carousel .flickity-viewport {
    height: 8vh !important;
  }
}
