<h2>Voici votre nouveau mot de passe</h2>

Email : {{ email }}
Mot de passe : {{ password }}

<p>Nous restons à votre disposition pour tous renseignements et nous vous prions d'agréer nos salutations les meilleures.</p>
