<h2>Désactivation de votre compte Répertoire Vert</h2>

<p>Bonjour,</p>
<p>Nous vous envoyons cet email car le compte de votre entreprise a été désactivé.</p>
<p>Vous pouvez le réactiver à tout moment en cliquant sur le lien suivant : <a href="{{ url }}">Réactiver mon compte du Répertoire Vert</a></p>
