<h2>Cher nouveau membre du Répertoire Vert,</h2>

<p>Nous sommes heureux de vous accueillir dans ce réseau qui assurera une plus grande visibilité aux entreprises dont les actions, les produits et services sont respectueux de l’environnement.</p>

<p>Pour pouvoir accèder à toutes les fonctionnalités du site nous vous demandons de valider votre adresse mail</p>

<p><a href="{{url('validationMail',{'email':email,'token':token}) }}">Valider mon adresse mail</a></p>

<p>Nous restons à votre disposition pour tous renseignements et nous vous prions d'agréer nos salutations les meilleures.</p>
