<h2>Voici votre lien pour reinitialiser votre mot de passe</h2>



<p><a href="{{url('userResetPassword',{'email':email,'token':token}) }}">Reinitialiser le mot de passe</a></p>

<p>Nous restons à votre disposition pour tous renseignements et nous vous prions d'agréer nos salutations les meilleures.</p>
