<h2>Cher nouveau membre du Répertoire Vert,</h2>

<p>Nous sommes heureux de vous accueillir dans ce réseau qui assurera une plus grande visibilité aux entreprises dont les actions, les produits et services sont respectueux de l’environnement.</p>

<p>Grâce à vous et à la diffusion du répertoire aux professionnels qui vous entourent, la liste des organisations et des entreprises s’allonge de jour en jour. En effet, vous êtes de plus en plus nombreux à demander le référencement au Répertoire Vert, et nous vous remercions de ce succès.</p>

<p>Alors n’hésitez pas et continuez à parler des actions de gaea21!</p>

<p>Pour tout connaître sur l’association et ses réalisations, connectez-vous sur notre site www.gaea21.org. De plus, nous vous rappelons les objectifs et les prestations du répertoire dans le document en pièce jointe.</p>

<p>L'un de nos collaborateurs prendra contact avec vous prochainement et vous pouvez à tout moment consulter librement les entreprises et organisations référencées sur notre site internet.</p>

<p>Nous restons à votre disposition pour tous renseignements et nous vous prions d'agréer nos salutations les meilleures.</p>
