

<footer style="width:100%;background-image: url({{asset('css/img/footer/footer.png')}});background-position:center ; background-size: cover ; background-repeat: no-repeat ">
    <div class="div-container-data-footer">
        <div class="container-data-footer">
            <div class="footer-colonne">
                <div class="title-footer">Contact</div>
                <ul>
                    <li><span>Avenue des Morgines 9</span></li>
                    <li><span>1213 Petit-Lancy</span></li>
                    <li><span>Suisse</span></li>
                    <li><span>Fax : 079 256 14 30</span></li>
                    <li><span>Email : contact@repertoirevert.org</span></li>
                    <li><span>Website : <a href="http://www.gaea21.org">www.gaea21.org</a></span></li>
                </ul>
            </div>
            <div class="footer-colonne">
                <div class="title-footer">Partenaires</div>
                <ul>
                    <li><a href="https://www.loro.ch/fr">Loterie Romande</a></li>
                    <li><a href="http://www.gaea21.org">gaea21</a></li>
                </ul>
            </div>
            <div class="footer-colonne">
                <div class="title-footer"><a href="/mentions-legales">Mentions Légales</a></div>
            </div>
        </div>
    </div>
    <div class="container-icones-footer">
        <a class="icon-footer" href="https://www.facebook.com/RepertoireVertgaea21"><img src="{{ asset('/css/icon/facebookb.png') }}"></a>
        <a class="icon-footer" href="https://www.linkedin.com/company/repertoire-vert/"><img src="{{ asset('/css/icon/linkedinb.png') }}"></a>
        <a class="icon-footer" href="#"><img src="{{ asset('/css/icon/twitterb.png') }}"></a>
    </div>
</footer>