<div class="nav_boutons">
    <button onclick="location.href='/produits'">Voir tous les produits/services</button>
    <button class='{{ productIsSelected }}' onclick="location.href='/produit/ajout'">Ajouter un produit</button>
    <button class='{{ serviceIsSelected }}' onclick="location.href='/services/ajout'">Ajouter un service</button>
</div>