{% extends 'base_homepage.html.twig' %}

{% block body %}
<div class="green-banner">
    <h3>Nouveau mot de passe</h3>
</div>
<h4>Votre nouveau mot de passe vous a été envoyé par email</h4>
{% endblock %}
