{% extends 'base_homepage.html.twig' %}



{% block body %}
    <div class="green-banner">
        <h3>Demander un nouveau mot de passe</h3>
    </div>
    <div class="frm frm-login col-l-offset-4 col-l-4">
        <div class="frm-header">
            Reset
        </div>
        <form class="frm-prereset-password" role="form" method="POST" action="{{ path('userPreResetPassword') }}">
            <div>
                <label for="email">E-Mail Address</label>
                <input id="email" type="text" name="_email">
            </div>

            <button type="submit">Envoyer</button>
        </form>
    </div>


{% endblock %}
