<style>



    a.btn {

        border-radius: 4px;
        box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
        display: inline-block;
        padding: 6px 30px 8px;
        position: relative;
        text-decoration: none;
        transition: all 0.1s 0s ease-out;
    }

    .no-touch a.btn:hover {

        box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
        transform: translateY(-2px);
        transition: all 0.25s 0s ease-out;
    }

    .no-touch a.btn:active,
    a.btn:active {

        box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
        transform: translate3d(0,1px,0);
        transition: all 0.025s 0s ease-out;
    }

    div.cards {
        margin: 80px auto;
        max-width: 960px;
        text-align: center;
    }

    div.card {

        display: inline-block;
        margin: 8px;
        max-width: 300px;

        position: relative;
        text-align: left;
    }



    img {
        max-width: 300px;
    }

    .card__image-holder {
        background: rgba(0,0,0,0.1);
        height: 0;
        padding-bottom: 75%;
    }

    div.card-title {

        padding: 6px 15px 10px;
        position: relative;
        z-index: 0;
    }
    a.toggle-info {
        border-radius: 32px;
        height: 32px;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 10px;
    }

    span {

        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
    }

    span.left {
        right: 14px;
        transform: rotate(45deg);
    }
    span.right {
        left: 14px;
        transform: rotate(-45deg);
    }


    h2 {
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin: 0;
        padding: 0;
    }
    small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
    }



    div.card-description {
        padding: 0 15px 10px;
        position: relative;
        font-size: 14px;
    }

    div.card-actions {
        box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
        padding: 10px 15px 20px;
        text-align: center;
    }

    div.card-flap {

        position: absolute;
        width: 100%;
        transform-origin: top;
        transform: rotateX(-90deg);
    }
    div.flap1 {
        transition: all 0.3s 0.3s ease-out;
        z-index: -1;
    }
    div.flap2 {
        transition: all 0.3s 0s ease-out;
        z-index: -2;
    }



    div.cards.showing {
    div.card {
        cursor: pointer;
        opacity: 0.6;
        transform: scale(0.88);
    }


    .no-touch  div.cards.showing {
    div.card:hover {
        opacity: 0.94;
        transform: scale(0.92);
    }


    div.card.show {
        opacity: 1 !important;
        transform: scale(1) !important;

    div.card-title {
    a.toggle-info {
        background: @salmon !important;
    span {
        top: 15px;
    }
    span.left {
        right: 10px;
    }
    span.right {
        left: 10px;
    }
    }
    }
    div.card-flap {
        background: @white;
        transform: rotateX(0deg);
    }
    div.flap1 {
        transition: all 0.3s 0s ease-out;
    }
    div.flap2 {
        transition: all 0.3s 0.2s ease-out;
    }
    }



</style>

<div class="cards">
{% for posts in posts %}
    <div class="card">
        <div >
            <img style="width: 150px; height:150px" class="card__image" src="{{ asset('uploads/posts/') }}{{posts.photo }}" alt="wave" />
        </div>
        <div class="card-title">
            <a href="#" class="toggle-info btn">
                <span class="left"></span>
                <span class="right"></span>
            </a>
            <h2>
                {{ posts.title }}
                <small>{{ posts.category.name }}</small>

            </h2>
        </div>
        <div class="card-flap flap1">
            <div class="card-description">
                This grid is an attempt to make something nice that works on touch devices. Ignoring hover states when they're not available etc.
            </div>
            <div class="card-flap flap2">
                <div class="card-actions">
                    <a href="#" class="btn">Read more</a>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>


<script>
    $(document).ready(function(){
        var zindex = 10;

        $("div.card").click(function(e){
            e.preventDefault();

            var isShowing = false;

            if ($(this).hasClass("show")) {
                isShowing = true
            }

            if ($("div.cards").hasClass("showing")) {
                // a card is already in view
                $("div.card.show")
                    .removeClass("show");

                if (isShowing) {
                    // this card was showing - reset the grid
                    $("div.cards")
                        .removeClass("showing");
                } else {
                    // this card isn't showing - get in with it
                    $(this)
                        .css({zIndex: zindex})
                        .addClass("show");

                }

                zindex++;

            } else {
                // no cards in view
                $("div.cards")
                    .addClass("showing");
                $(this)
                    .css({zIndex:zindex})
                    .addClass("show");

                zindex++;
            }

        });
    });
</script>
